.btn-loading {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: 0.24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.disabled {
  background-color: var(--color-disabled);
  color: var(--color-text-gray);
  cursor: auto;
}

.disabled-dark {
  background-color: var(--color-back-in-dark);
  color: var(--color-text-gray);
  cursor: auto;
}

.color-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.color-secondary { 
  background-color: var(--color-secondary);
  color: var(--color-text-gray);
}

.color-ghost { 
  background-color: var(--color-transparent);
  color: var(--color-text-gray);
}

.color-back-in-dark { 
  background-color: var(--color-back-in-dark);
  color: var(--color-text-gray);
}

.color-active {
  background-color: var(--color-active);
  color: var(--color-white);
}

.color-active-in-dark {
  background-color: var(--color-white);
  color: var(--color-text-dark);
}

.color-brand {
  background-color: var(--color-brand);
}

.btn-loading-big {
  padding: 16px 192px;
}

.btn-loading-medium {
  padding: 10px 194px;
}

.btn-loading-small {
  padding: 6px 196px;
}