.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 60px 20px 60px;
  }
  
  .pass-list__title {
    align-self: flex-start;
    margin-bottom: 30px;
  }
  
  .pass-list__add-button {
    align-self: flex-end;
    margin-bottom: 30px;
  }
  
  .pass-list__table {
    width: 100%;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
  }