.tableItem {
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 8px 4px 8px 20px;
  width: 100%;
  font-size: 16px;
  color: var(--color-text-gray);
  display: grid;
  grid-template-columns: 40px 1fr 150px 1fr 150px 1fr 220px 1fr 110px 10fr 120px 1fr 35px;
}

.tableItemIcon {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.tableItemName {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  color: var(--color-text-dark);
}

.tableItemTel {
  grid-column: 5 / 6;
  display: flex;
  align-items: center;
  color: var(--color-text-dark);
}

.tableItemDate {
  grid-column: 7 / 8;
  display: flex;
  align-items: center;
}

.tableItemStatus {
  grid-column: 9 / 10;
  display: flex;
  align-items: center;
}

.tableItemAction {
  grid-column: 11 / 12;
  display: flex;
  align-items: center;
}

.tableItemOption {
  grid-column: 13 / 14;
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

[disabled] {
  opacity: .3;
}

[disabled] button {
  cursor: default;
}

.btnOption {
  color: rgba(83, 83, 83, 0.2);
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}