.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 14px 20px 14px;
}

.pass {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: var(--color-white);
  border-radius: 20px;
}

.passHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.passBody {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  row-gap: 40px;
}

.typeWrapper {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: var(--color-background);
  border-radius: 10px;
}

.template {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.templateTitle {
  font-size: 16px;
}

.templateType {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}