@import-normalize;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 100%;
  height: 100%;
}

.dark-side {
  background-color: var(--color-dark-side);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border-radius: 20px;
}

a,
a:visited {
  text-decoration: none;
  font-family: Ubuntu;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.text {
  color: var(--color-text-gray);
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-background: #F5F5F5;
  --color-primary: #4D6CE1;
  --color-secondary: #E8EAEC;
  --color-text-gray: #8A9499;
  --color-text-dark: #343B43;
  --color-transparent: transparent;
  --color-dark-side: #292929;
  --color-back-in-dark: #3f3f3f;
  --color-active: #444B59;
  --color-disabled: #F3F4F7;
  --color-brand: #FFDC49;
  --color-negative: #DD4333;
  --color-blue-light: #EEF4F5
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-background);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  padding: 14px;
}
