.account {
  display: flex;
  column-gap: 16px;
}

.accountPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: tomato;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.accountTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

.accountName {
  color: var(--color-active);
}