.btn-icon {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: 0.24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.color-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.color-secondary { 
  background-color: var(--color-secondary);
  color: var(--color-text-gray);
}

.color-ghost { 
  background-color: var(--color-transparent);
  color: var(--color-text-gray);
}

.color-back-in-dark { 
  background-color: var(--color-back-in-dark);
  color: var(--color-text-gray);
}

.color-active {
  background-color: var(--color-active);
  color: var(--color-white);
}

.color-active-in-dark {
  background-color: var(--color-white);
  color: var(--color-text-dark);
}

.btn-arrow-big {
  padding: 14px;
}

.btn-arrow-medium {
  padding: 11px;
}

.btn-arrow-small {
  padding: 12px;
}

.arrow-big {
  width: 28px;
  height: 28px;
}

.arrow-medium {
  width: 24px;
  height: 24px;
}

.arrow-small {
  width: 16px;
  height: 16px;
}